*{
    margin:0;
    box-sizing: border-box;
    font-family: Montserrat;
}
a{
    text-decoration: none;
}
/*------------ Header ------------*/
.header{
    display: flex;
    position: sticky;
    flex-wrap: wrap;
    top: 0px;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    height: 150px;
    z-index: 10;
    overflow: hidden;
}
/*--------- Logo--------- */
.logo-img{
    display: flex;
    height: 87px;
    width: 160px;
    justify-content: center;
}
@media (max-width:700px){
    .logo-img{
        height: 87px;
        display: flex;
        margin: 0px auto;
        justify-content: center;
    }
}
/* /logo */
/* --------- Menu ---------*/
.main-menu-row{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.main-menu-row .sofit{
    color: #D1A954;
}
.sofit:hover,
.menu-row-hover:hover{
    padding: 3px;
    border: 1px solid #D1A954;
    border-radius: 2px;
    color: #D1A954;
    text-shadow: 1px 1px 2px #D1A954 ;
}
.main-menu-row a{
    text-decoration: none;
    color: black;
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.04em;
    margin: 5px;
    text-transform: uppercase;
}
/* /menu  */
/* --------- Burger menu --------- */
.ext-menu span,
.ext-menu span::after,
.ext-menu span::before{
    display: block;
    width: 33px;
    height: 3px;
    margin-bottom: 7px;
    position: relative;
    /* top: 40%; */
    background: #D1A954;
    border-radius: 2px;
    z-index: 10;
}
.ext-menu span::after{
    content: '';
    top: 7px;
}
.ext-menu span::before{
    content: '';
    top: 8px;
}
@media (max-width:700px){
    .ext-menu{
        
        width: 40px;
        display: flex;
        margin: auto auto;
        align-items: center;
        justify-content: center;
        z-index: 10;
        top: 0px;
        /* top : 10px; */
        background-color: #fff;

    }
    .ext-menu span{
        display: block;
        background: #D1A954;
    }
    .main-menu-row{
        display: none;
    }
}
/* /burger menu */
/*------------ header ------------ */
/*------------ Gallery ------------*/
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.wrapper   .gallery {
      margin: 50px auto;
    }
  

.gallery{
    width: 500px;
    /* height: 200px; */
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:1500px){
    .gallery{
        width: 300px;
        font-size: 14px;
    }
}
.gallery img {
        max-width:100%;
        height: auto;
      }

.desc{ 
    opacity: 0;
    position: absolute;
    display: block;
    width: 95% ;
    height: 10px;
    bottom: 5px;
    justify-content: center;
    
    margin-top: 100%;
    background: rgba(209, 169, 84);
    color: #fff;
    transition: all 0.9s ease;
}
.description-back{
    opacity: 0;
    display: block;
    position: absolute;
    /* justify-content: center; */
    width: 100%;
    height: 0%;
    top: 0;
    transform: translateY(100%);
    background: rgba(209, 169, 84);
    transition: all 0.9s ease;
}
.gallery:hover .description-back{
    opacity: 0.8;
    height: 34%;
    width: 100%;
    margin-top: 36%;
    transition: all 0.3s ease;
} 
.title-white,
.desc p {
    transition: all 0.9s ease;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}
.title-white{
    color:#fff;
    font-size: 16px;
}
.desc span{
    display: block;
    text-align: center;
    margin: 3px auto;
}

 .gallery:hover .desc{
    opacity: 0.8;
    height: 30%;
    border: 1px solid #fff;
    width: 95%;
    transition: all 0.8s ease;
} 
.gallery:hover p {
    margin: 10px 0px auto;
      transform: scale(1);
      transition: all 0.9s ease;
    }
.gallery:hover span{
    display: block;
    margin: 0px auto;
    transition-delay: 1s;
    transition: all 0.5s ease;
}
  
  @media (min-width: 600px) and ( max-width: 1000px) {
    .wrapper {
    margin: 0px auto;
    transform: scale(0.8);
    /* display: block; */
    justify-content: center;
    }
    .wrapper >  .gallery{
      margin: 10px auto;
    }
  }
  @media (max-width: 600px) {
    .wrapper {
    margin: 0px auto;
    display: block;
    justify-content: center;
    }
    .wrapper >  .gallery{
      margin: 10px auto;
    }
  }
  /* ----------About --------- */
.about-grid{
    display: grid;
    justify-content: center;
    grid-gap: 40px 50px;
    grid-template-columns: 350px 255px 255px;
    grid-template-rows: 40px 40px auto auto auto auto auto;
    height: 1178px;
    margin: 80px auto; 
}
.about-grid img{
    float: left;
    padding-right: 10px;
}
.about-grid h3{
    align-items: flex-end;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    padding: 7px;

}
.about-grid p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #616161;
}
.about-grid-head{
    text-align: center;
    grid-column: 1 / span 3;
    height: 40px;
}
/* [.about-grid-*=] */
.head-style-white,
.head-style-black,
.about-grid-head h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.about-grid-logo{
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 3;
    grid-row: 2;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.about-grid-logo img{
    height: auto;
    width: 40px;
    transform: translate(-50%, -50%);
}
.about-grid-video{
    grid-column: 1 / span 3;
    grid-row: 3;
    box-sizing: content-box;
    box-shadow: 0px 0px 30px rgba(126, 126, 126, 0.25);
}
.about-grid-item1{
    grid-column: 1;
    grid-row: 4;
    justify-content: center;
    height: 135px;
}
.about-grid-item6{
    grid-column: 1;
    grid-row: 5;
}
.gallery-grid{
    display: grid;
    justify-content: center;
    grid-gap: 30px;
    grid-template-columns: 250px auto 350px;
    grid-template-rows: 300px 300px 300px;
    height: 1178px;
}
.gallery-grid-item1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    line-height: 50px;
    justify-content: center;
}
.title-black,
.gallery-grid-item1 h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.gallery-grid-item1 p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}
.gallery-grid-item2{
    width: 445px;
}
.gallery-grid-item3{
    width: 350px;
}
.gallery-grid-item4{
    grid-row: 2;
    grid-column-end: 4;
    justify-self: end;
}
.gallery-grid-item5{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}
.gallery-grid-item6{
    justify-self: end;
}
.presentation{
    background-image: url(./src/Rectangle\ 2.png);
    height: 409px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner-2{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presenter{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 40px;
    margin: 40px;
    justify-content: space-between;
    align-items: center;
}
.presenter button{
    height: 40px;
    width: 200px;
    margin: 30px;
}
.head-style-white{
    color: #fff;
    font-size: 30px;
}
.head-style-black{
    color: #000;
    font-size: 16px;
    line-height: 18px;
}
/* division on contacts form  -------------------------*/
.contacts{ 
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    margin: 80px 150px;
    grid-gap: 15px 20px;
}
.head-item{
    grid-column: span 2;
    line-height: 150%;
}
.desription-item{
    grid-column: span 2;
    grid-row: 2;
}
.subhead1-item{
    text-align: left;
    font-size: 26px;
    line-height: 22px;
    grid-row: 3;
}
.adress-item{
    grid-row: 4;
    text-decoration: underline;
}
.telephone-item{
    grid-row: 5;
}
.mail1-item{
    grid-row: 6;
}
.item-wrap{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    font-size: x-small;
    align-items: center;
    
}
.item-wrap img{
    height: ;
    margin-right: 25px;
}
.name-item{
    grid-column: 3 / 4;
    grid-row: 1;
    border-bottom:1px solid ;
}
.mail-item{
    grid-column: 3 / 5;
    grid-row: 2;
    border-bottom: 1px solid ;
}
.message-item{
    grid-column: 3 / span 2;
    grid-row: span 3;
}
textarea, input, select{
    width: 100%;
    height: 100%; /* extend the width of the grid item */
  }
.submit-item button{
    background-color: #D1A954;
}
input, select{
        border: none;
        border-color: transparent;
      
  }